.table_text {
  font-size: 16px;
}
#table_head {
  font-size: 18px;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(255, 255, 255);
}
.bg_hover_rfid:hover {
  background-color: #00b56c;
  color: white;
}
::-webkit-scrollbar-thumb {
  background: #29303b;
  border-radius: 7px;
}
.MuiOutlinedInput-notchedOutline {
  /* border-width: 1px !important; */
  border-color: #d3d3d3 !important;
  outline: #00b56c;
}

.MuiOutlinedInput-notchedOutline:hover {
  /* border-width: 1px !important; */
  border: #00b56c !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00b56c !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  min-height: 52px;
  padding-right: 2px;
  color: black;
  font-size: 17px;
}
.css-levciy-MuiTablePagination-displayedRows {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.popup_style {
  width: 40%;
}
.main_driver {
  height: 93vh;
  /* background-color: rgb(21, 17, 17); */
}
.drivers_text {
  height: 4vh;
  border-top: 2px solid white !important;
}
.drivers_add_popup {
  height: 6vh;
}
.table_driver_profile {
  height: 77vh;
  /* overflow-y: scroll; */
}
.table_pagination {
  height: 6vh;
}

@media (max-width: 1000px) and (min-width: 750px) {
  .main_driver {
    height: 85vh;
    /* background-color: rgb(21, 17, 17); */
  }
  .drivers_text {
    height: 4vh;
    border-top: 2px solid white !important;
  }
  .drivers_add_popup {
    height: 6vh;
  }
  .table_driver_profile {
    height: 67vh;
    /* overflow-y: scroll; */
  }
  .table_pagination {
    height: 7vh;
  }
}

@media (max-width: 750px) {
  .main_driver {
    height: auto;
    /* background-color: rgb(21, 17, 17); */
  }
  .drivers_text {
    height: auto;
    border-top: 2px solid white !important;
  }
  .drivers_add_popup {
    height: auto;
  }
  .table_driver_profile {
    height: 50vh;
    /* overflow-y: scroll; */
  }
  .table_pagination {
    height: 7vh;
  }
  #table_head {
    font-size: 16px;
  }
}

@media (max-width: 1200px) and (min-width: 810px) {
  .popup_style {
    width: 65%;
  }
}

@media (max-width: 800px) and (min-width: 510px) {
  .popup_style {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .popup_style {
    width: 90%;
    margin-top: 30%;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.options {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.option {
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background-color: #00b56c; /* Change to your desired hover background color */
  color: #fff; /* Change to your desired text color on hover */
}

/* .MuiButtonBase-root {
  width: 100% !important;
} */
