.css-hyum1k-MuiToolbar-root {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  background-color: #00b56c;
  height: 2vh;
}

#nav_height {
  height: 7vh;
}

@media (max-width: 600px) {
  #nav_height {
    height: auto;
  }
}
