.MuiPickersDatePickerRoot-toolbar {
  align-items: flex-start !important;
  flex-direction: column !important;
  background-color: #00b56c !important;
}

.MuiPickersDay-daySelected {
  color: #fff !important;
  font-weight: 500 !important;
  background-color: #00b56c !important;
}
.MuiFormHelperText-root.Mui-error {
  color: #f44336;
  display: none;
}
.MuiInput-underline:after {
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid #8a8c94 !important;
  pointer-events: none;
}
/* p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorInherit {
  color: #3b413f;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(227, 224, 224);
}

::-webkit-scrollbar-thumb {
  background: #29303b;
  border-radius: 7px;
}
#bg_hover_select_vehicle {
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 3%;
  padding: 2% 3%;
}
#bg_hover_select_vehicle:hover {
  background-color: #00b56c;
  color: white;
  font-weight: 600;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#select_slider {
  font-weight: 600;
}
#select_slider:hover {
  background-color: #00b56c;
  color: white;
}
/* Handle on hover */
/* .Select_box::-webkit-scrollbar-thumb:hover {
  background: #00b56c;
} */

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #00b56c;
}

input[type="checkbox"]:hover {
  outline: 1px auto #00b56c;
  cursor: pointer;
}
.MuiOutlinedInput-notchedOutline {
  border-color: #d3d3d3 !important;
  outline: #00b56c;
}

.MuiOutlinedInput-notchedOutline:hover {
  /* border-width: 1px !important; */
  border: #00b56c !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00b56c !important;
}

/* .css-i4bv87-MuiSvgIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
} */
/* style={{
  paddingTop: "4%",
  paddingBottom: "4%",
  paddingLeft: "2%",
  display: "flex",
  justifyContent: "start",
}} */
#select_slider {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 4%;
  display: flex;
  justify-content: start;
}
.main_journey {
  height: 93vh;
}
.journey_heading {
  height: 4vh;
}
.select_box_journey {
  height: 6vh;
  align-items: center;
}
.journey_sidebar {
  height: 83vh;
}
.journey_sidebar_text {
  height: 3vh;
}
#trips_handle {
  height: 80vh;
}
.journey_map {
  height: 83vh;
}
@media (max-width: 1900px) and (min-width: 1570px) {
  .select_box_journey {
    height: 7vh;
    margin-top: -1%;
    align-items: center;
  }
  .journey_heading {
    height: 7vh;
  }

  .select_box_column {
    grid-column: 2 span;
  }
  .period_select {
    grid-column: 3 span;
  }
  .trips_journey {
    grid-column: 2 span;
    width: 57%;
  }
  .journey_map {
    grid-column: 3 span;
    margin-left: -13.4%;
  }
}

@media (max-width: 1571px) and (min-width: 1300px) {
  .select_box_column {
    grid-column: 2 span;
  }
  .period_select {
    grid-column: 3 span;
  }
  .select_box_journey {
    height: 8vh;
    align-items: center;
  }
  .trips_journey {
    grid-column: 2 span;
    width: 63%;
  }
  .journey_map {
    grid-column: 3 span;
    margin-left: -11.6%;
  }
}
@media (max-width: 1301px) and (min-width: 1199px) {
  .select_box_column {
    grid-column: 2 span;
  }
  .period_select {
    grid-column: 3 span;
  }
  .select_box_journey {
    height: 8vh;
    align-items: center;
  }
  .trips_journey {
    grid-column: 2 span;
    width: 72%;
  }
  .journey_map {
    grid-column: 3 span;
    margin-left: -8.8%;
  }
  .journey_heading {
    height: 6vh;
  }
  .journey_sidebar_text {
    height: 4vh;
  }
  .stop_journey {
    grid-column: 3 span;
  }
  .stop_details_time {
    grid-column: 7 span;
  }
  .journey_replay_slider {
    grid-column: 6 span;
  }
  /* .journey_replay_center_box {
    left: 15;
  } */
}

@media (max-width: 1200px) and (min-width: 1050px) {
  .select_box_journey {
    height: 7vh;
    margin-top: -1%;
    align-items: center;
  }
  .journey_heading {
    height: 6vh;
  }
  .select_box_column {
    grid-column: 2 span;
  }
  .period_select {
    grid-column: 3 span;
  }
}
@media (max-width: 1049px) and (min-width: 769px) {
  .select_box_journey {
    height: 10vh;
    align-items: center;
  }
  .period_select {
    grid-column: 3 span;
  }
  .journey_sidebar_text {
    height: 5vh;
  }
  .journey_heading {
    height: 7vh;
  }
  .stop_journey {
    grid-column: 5 span;
  }
  .stop_details_time {
    grid-column: 7 span;
  }
  .journey_replay_slider {
    grid-column: 11 span;
  }
}
@media (max-width: 770px) and (min-width: 610px) {
  .select_box_column {
    margin-top: 3%;
  }
  .select_box_journey {
    height: 20vh;
    align-items: center;
  }
  .period_select {
    grid-column: 2 span;
  }
}
@media (max-width: 600px) {
  .select_box_column {
    margin-top: 3%;
  }
  .select_box_journey {
    height: auto;
    align-items: center;
  }
  .period_select {
    grid-column: 3 span;
  }
  .period_select_custom {
    grid-column: 3 span;
  }
  .journey_heading {
    height: 6vh;
  }
}

#speed_meter {
  position: absolute;
  top: 22%;
  left: 5%;
  right: 1%;
  display: flex;
  justify-content: end;
}
