.MuiPickersDatePickerRoot-toolbar {
  align-items: flex-start !important;
  flex-direction: column !important;
  background-color: #00b56c !important;
}

.MuiPickersDay-daySelected {
  color: #fff !important;
  font-weight: 500 !important;
  background-color: #00b56c !important;
}
.MuiFormHelperText-root.Mui-error {
  color: #f44336;
  display: none;
}
.MuiInput-underline:after {
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid #8a8c94 !important;
  pointer-events: none;
}
/* p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorInherit {
  color: #3b413f;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(227, 224, 224);
}

::-webkit-scrollbar-thumb {
  background: #29303b;
  border-radius: 7px;
}
#bg_hover_select_vehicle {
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 3%;
  padding: 2% 3%;
}
#bg_hover_select_vehicle:hover {
  background-color: #00b56c;
  color: white;
  font-weight: 600;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#select_slider {
  font-weight: 600;
}
#select_slider:hover {
  background-color: #00b56c;
  color: white;
}
/* Handle on hover */
/* .Select_box::-webkit-scrollbar-thumb:hover {
  background: #00b56c;
} */

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #00b56c;
}

input[type="checkbox"]:hover {
  outline: 1px auto #00b56c;
  cursor: pointer;
}
.MuiOutlinedInput-notchedOutline {
  border-color: #d3d3d3 !important;
  outline: #00b56c;
}

.MuiOutlinedInput-notchedOutline:hover {
  /* border-width: 1px !important; */
  border: #00b56c !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00b56c !important;
}

/* .css-i4bv87-MuiSvgIcon-root {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
} */
/* style={{
  paddingTop: "4%",
  paddingBottom: "4%",
  paddingLeft: "2%",
  display: "flex",
  justifyContent: "start",
}} */
#select_slider {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 4%;
  display: flex;
  justify-content: start;
}
.main_journey {
  height: 93vh;
}
.journey_heading {
  height: 4vh;
}
.select_box_journey {
  height: 6vh;
  align-items: center;
}
.journey_sidebar {
  height: 83vh;
}
.journey_sidebar_text {
  height: 3vh;
}
#trips_handle {
  height: 80vh;
}
.journey_map {
  height: 83vh;
}
@media only screen and (max-width: 1650px) and (min-width: 1040px) and (max-height: 900px) {
  .select_box_journey {
    display: flex;
    grid-template-columns: 10% 10%;
    gap: 2%;
    margin: 0;
    padding: 0;
    height: 10vh;
  }
  .select_vehicle {
    width: 15rem;
    margin-left: 2%;
  }
  .days_select {
    grid-column: span 10 / span 10;
    /* gap: 70rem; */
    width: 30rem;
  }
  .journey_sidebar_text {
    height: 4vh;
  }
  .journey_heading {
    height: 5vh;
  }
  .trips_journey {
    grid-column: span 2 / span 2;
    width: 75%;
  }
  .journey_map {
    grid-column: span 3 / span 3;
    margin-left: -3.6rem;
  }
  .journey_replay_search {
    grid-column: span 3 / span 3;
    /* margin-left: -5rem; */
  }
  .stop_journey {
    grid-column: span 4 / span 4;
  }
  .journey_replay_slider {
    grid-column: span 6 / span 6;
  }
  .select_journey_speed {
    grid-column: span 2 / span 2;
  }
  .journey_replay_center_box {
    right: 30%;
    width: 80%;
    left: 1%;
  }
  .journey_replay_harsh {
    grid-column: span 1 / span 1;
  }
  .journey_replay_harsh_child {
    grid-column: span 1 / span 1;
  }
  .journey_replay_harsh_acce {
    grid-column: span 1 / span 1;
    margin-left: -9rem;
    /* margin-top: -1rem; */
    /* margin-right: -5rem; */
  }
  .journay_HarshAcceleration {
    width: 100%;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 859px) {
  .select_box_journey {
    /* display: flex; */
    /* grid-template-columns: 10% 10%; */

    gap: 2%;
    margin: 0;
    padding: 0;
    height: 10vh;
  }
  .select_vehicle {
    width: 15rem;
    margin-left: 2%;
  }
  .days_select {
    grid-column: span 10 / span 10;
    /* gap: 70rem; */
    width: 30rem;
  }
  .journey_sidebar_text {
    height: 6vh;
  }

  .journey_heading {
    height: 6vh;
    /* margin-top: 0.9%; */
  }
  .trips_journey {
    grid-column: span 2 / span 2;
    width: 95%;
  }
  .journey_map {
    grid-column: span 3 / span 3;
    margin-left: -0.5rem;
  }
  .journey_replay_search {
    grid-column: span 3 / span 3;
    /* margin-left: -5rem; */
  }
  .stop_journey {
    grid-column: span 4 / span 4;
  }
  .journey_replay_slider {
    grid-column: span 6 / span 6;
  }
  .select_journey_speed {
    grid-column: span 2 / span 2;
  }
  .journey_replay_center_box {
    right: 30%;
    width: 45rem;
    left: -16rem;
  }
  .journey_replay_harsh {
    grid-column: span 1 / span 1;
  }
  .journey_replay_harsh_child {
    grid-column: span 1 / span 1;
  }
  .journey_replay_harsh_acce {
    grid-column: span 1 / span 1;
    margin-left: -9rem;
    /* margin-top: -1rem; */
    /* margin-right: -5rem; */
  }
  .journay_HarshAcceleration {
    width: 100%;
  }
  .main_journey {
    height: 88vh;
    overflow: hidden;
  }

  #trips_handle {
    height: 65vh;
  }
  .journey_map {
    height: 73vh;
  }
}

@media (max-width: 799px) and (min-width: 750px) {
  .main_journey {
    height: 87vh !important;
  }
  .journey_heading {
    height: 4vh;
    align-items: center;
  }
  .select_box_journey {
    height: 7vh;
    align-items: center;
    padding-top: 2%;
  }
  .journey_sidebar {
    height: 76vh;
  }
  .journey_sidebar_text {
    height: 3vh;
  }
  #trips_handle {
    height: 73vh;
  }
  .journey_map {
    height: 76vh;
  }
}
@media (max-width: 450px) {
  #trips_handle {
    height: 12em;
    overflow-y: scroll;
  }
}
#speed_meter {
  position: absolute;
  top: 22%;
  left: 5%;
  right: 1%;
  display: flex;
  justify-content: end;
}
@media (max-width: 850px) and (min-width: 510px) {
  #speed_meter {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 10%;
    display: flex;
    justify-content: end;
  }
}
@media (max-width: 750px) {
  .main_journey {
    height: auto;
  }
  .journey_heading {
    height: auto;
  }
  .select_box_journey {
    margin-top: 4% !important;
    height: auto;
  }
  .journey_sidebar {
    height: auto;
  }
  .journey_sidebar_text {
    height: auto;
  }
  #trips_handle {
    height: 30vh;
  }
  .journey_map {
    height: 80vh;
  }
  .margin_custom {
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  #speed_meter {
    position: absolute;
    top: 25%;
    left: 5%;
    right: 10%;
    display: flex;
    justify-content: end;
  }
}
