.MuiPickersDatePickerRoot-toolbar {
  align-items: flex-start !important;
  flex-direction: column !important;
  background-color: #00b56c !important;
}

.MuiPickersDay-daySelected {
  color: #fff !important;
  font-weight: 500 !important;
  background-color: #00b56c !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #d3d3d3 !important;
  outline: #00b56c;
}

.MuiOutlinedInput-notchedOutline:hover {
  /* border-width: 1px !important; */
  border: #00b56c !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00b56c !important;
}

.MuiFormHelperText-root.Mui-error {
  color: #2f2b2b;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(227, 224, 224);
}

::-webkit-scrollbar-thumb {
  background: #29303b;
  border-radius: 7px;
}
.MuiInput-underline:after {
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid #8a8c94 !important;
  pointer-events: none;
}

#report_select_hover {
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: start;
  margin-left: 3%;
  padding: 2% 1%;
}
#report_select_hover:hover {
  background-color: #00b56c;
  color: white;
  font-weight: 600;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
